.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 2in;
    background-color: black;
    border-radius: 5pt;
    user-select: none;
  }